/*  */
body {
    background-color: #F9F9F9;
}

.top-btn {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    height: 48px;
    background: var(--bg_white);
    border: 1px solid #F3F3F3;
    box-shadow: 0px 4px 20px rgba(36, 36, 36, 0.1);
    border-radius: 36px;
}

.top-btn .icon {
    font-size: 24px;
}


.main {
    background-color: var(--bg_white);
}
/* banner */
.banner_slider {}
.owl-carousel .owl-dots {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 0.5rem;
}
.owl-carousel .owl-dot{
    width: 0.36rem;
    height: 0.36rem;
    border-radius: 50rem;
    background-color: #D9D9D9 !important;
    margin: 0rem 0.2rem;
}
.owl-carousel .owl-dot.active{
    width: 1rem;
    background-color: var(--bg_white) !important;
}

/* events */
.card{
    border: 2px solid var(--c_white);
    box-shadow:0px 4px 8px rgba(36, 36, 36, 0.1);
}
.card.sold_out{
    pointer-events: none;
    filter: grayscale(1);
}
.imgBox_1x1{
    position: relative;
    padding-bottom: 100%;
}
.imgBox_1x1>img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.wishlist_btn{
    position: absolute;
    top: 0.7143rem;
    right: 0.7143rem;
    padding: 0.2857rem;
    font-size: 1.7143rem;
    line-height: 1;
    background-color: var(--bg_white);
    border: none;
    border-radius: 50%;
    width: 2.4286rem;
    height: 2.4286rem;
}
.wishlist_btn .icon_heart-fill,
.wishlist_btn.listed .icon_heart{
    display: none;
}
.wishlist_btn.listed .icon_heart-fill{
    display: inline-block;
}
.prd_badge{
    color: var(--c_white);
    background-color: var(--bg_color);
    font-size: var(--fs_10);
    font-weight: 500;
    position: absolute;
    right: -6px;
    bottom: 12px;
    padding: 2px 4px;
    border-radius: 3px 0px 3px 3px;
}
.prd_badge::after{
    content: "";
    display: inline-block;
    position: absolute;
    top: -3px;
    right: 0px;
    width: 4px;
    height: 3px;
    background-color: var(--edge_color);
    border-radius: 0px 3px 0px 0px;
}
.prd_badge::before{
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    background: linear-gradient(252.38deg, rgba(255, 255, 255, 0) 40%, #FFFFFF 49%, #FFFFFF 51%, rgba(255, 255, 255, 0) 60%);
    background-size: 300%;
    border-radius: 3px;
    animation: badge_flash 3s linear 2s infinite forwards;
}
@keyframes badge_flash {
    0%{
        background-position: left 300% top 0%;
    }
    100%{
        background-position: left 0% top 0%;
    }
}
.prd_badge span{
    position: relative;
}
.badge_best_deals{
    --bg_color: var(--bg_danger);
    --edge_color:#B90000;
}
.badge_new{
    --bg_color: var(--bg_primary);
    --edge_color:#C49F00;
}
.card-title{
    width: 100%;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}


/*  */
.flash_sale_section{
    background-image: url("../img/home/flash-sale-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 90%;
    padding: 16px 0px;
}