/* .............. start home page .............. */
body {
    background-color: var(--bg_light3);
}

.top_btn,
.top_serachBox {
    display: flex;
    align-items: center;
    padding: 8px 11px;
    height: 48px;
    min-width: 48px;
    background-color: var(--bg_white);
    border: 1px solid #F3F3F3;
    box-shadow: 0px 4px 20px rgba(36, 36, 36, 0.1) !important;
    border-radius: 50rem;
    text-decoration: none;
    justify-content: center;
}

.top_btn i {
    font-size: 20px;
}

.top_btn.shadow-none {
    box-shadow: none !important;
}

.top_searchBtn {
    padding: 8px 16px;
    justify-content: flex-start;
}

.offcanvas.search_offcanvas {
    height: 100svh;
}

.top_serachBox {
    padding-left: 48px;
    padding-right: 16px;
    background-image: url("../icons/icon-search.svg");
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: left 16px center;
}

.search_eventCard {
    width: 146px;
    text-decoration: none;
}





.main {
    background-color: var(--bg_white);
    min-height: calc(100svh - 62px);
}

/* banner */
.banner_slider {}

.banner_sliderWrapper,
.banner_imgBox {
    position: relative;
    padding-bottom: 56%;
}

.banner_slider {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

.banner_imgBox>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.owl-carousel .owl-dots {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 0.5rem;
}

.owl-carousel .owl-dot {
    width: 0.36rem;
    height: 0.36rem;
    border-radius: 50rem;
    background-color: #D9D9D9 !important;
    margin: 0rem 0.2rem;
    transition: 0.3s;
}

.owl-carousel .owl-dot.active {
    width: 1rem;
    background-color: var(--bg_white) !important;
}

/* events */
.card {
    border: none;
    box-shadow: 0px 4px 8px rgba(36, 36, 36, 0.1);
    border-radius: 14px;
}

.card_header {
    position: relative;
    border: 2px solid var(--c_white);
    border-radius: 14px 14px 0px 0px;
    border-bottom: none;
}

.sold_out {
    pointer-events: none;
    filter: grayscale(1);
}

.imgBox_1x1,
.imgBox_2x1 {
    position: relative;
    padding-bottom: 100%;
}

.imgBox_2x1 {
    padding-bottom: 56.25%;
}

.imgBox_1x1>img,
.imgBox_2x1>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-img-top {
    border-radius: 12px 12px 0px 0px;
}

.sold_out_text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    font-weight: 700;
    color: var(--c_white);
}

.wishlist_btn {
    padding: 0.2857rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: var(--bg_white);
    border: none;
    border-radius: 50%;
    width: 2.4286rem;
    height: 2.4286rem;
}

.card .wishlist_btn {
    position: absolute;
    z-index: 2;
    top: 0.7143rem;
    right: 0.7143rem;
}

.add_wishlist i {
    color: var(--c_white);
}

.add_wishlist.added_wishlist i {
    color: var(--c_primary);
}

.btn_circle {
    padding: 0.2857rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: var(--bg_white);
    border: none;
    border-radius: 50%;
    width: 2.4286rem;
    height: 2.4286rem;
}

.prd_badge {
    color: var(--c_white);
    background-color: var(--bg_color);
    font-size: var(--fs_10);
    font-weight: 500;
    position: absolute;
    z-index: 2;
    right: -5px;
    bottom: 12px;
    padding: 2px 4px;
    border-radius: 3px 0px 3px 3px;
}

.badge_top {
    top: 16px;
    bottom: initial;
}

.prd_badge::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: -3px;
    right: 0px;
    width: 4px;
    height: 3px;
    background-color: var(--edge_color);
    border-radius: 0px 3px 0px 0px;
}

.prd_badge::before {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    background: linear-gradient(252.38deg, rgba(255, 255, 255, 0) 40%, #FFFFFF 49%, #FFFFFF 51%, rgba(255, 255, 255, 0) 60%);
    background-size: 300%;
    border-radius: 3px;
    animation: badge_flash 3s linear 2s infinite forwards;
}

@keyframes badge_flash {
    0% {
        background-position: left 300% top 0%;
    }

    100% {
        background-position: left 0% top 0%;
    }
}

.prd_badge span {
    position: relative;
}

.badge_best_deals {
    --bg_color: var(--bg_danger);
    --edge_color: #B90000;
}

.badge_new {
    --bg_color: var(--bg_primary);
    --edge_color: #C49F00;
}

.card-body {
    background-color: var(--bg_white);
    border-radius: 0px 0px 12px 12px;
    position: relative;
    z-index: 1;
}

.card-title {
    width: 100%;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}


/* flash sale section */
.flash_sale_section {
    background-image: url("../img/home/flash-sale-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 62%;
    padding: 16px 0px;
}

.text_outline {
    color: var(--c_white);
    /* text-shadow:
        -1px -1px 0 var(--c_black),
        1px -1px 0 var(--c_black),
        -1px 1px 0 var(--c_black),
        1px 1px 0 var(--c_black); */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--c_black);
    text-shadow: 1px 1px 0px var(--c_black);
}

.countdown {
    font-size: var(--fs_10);
    color: var(--c_white);
    text-shadow:
        -1px -1px 0 var(--c_black),
        1px -1px 0 var(--c_black),
        -1px 1px 0 var(--c_black),
        1px 1px 0 var(--c_black);
}

.countdown span {
    text-shadow: none;
    padding: 4px 5px;
    background: #FF0000;
    border: 1px solid #000000;
    box-shadow: 1px 1px 0px #000000;
    border-radius: 6px;
    margin-left: 3px;
    margin-right: 3px;
    min-width: 26px;
    display: inline-block;
    text-align: center;
}

.mx_3 {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}

.voucher_card {
    width: 288px;
    text-decoration: none;
}

.voucher_card:hover {
    color: var(--c_secondary);
}

.inline_img {
    display: inline-block;
    width: 1em;
    min-width: 1em;
    height: 1em;
    object-fit: cover;
    border-radius: 50%;
}

.card_slider {
    border-radius: 12px 12px 0px 0px;
    overflow: hidden;
}

.most_recommended {
    color: var(--c_white);
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 26px 14px 8px;
    gap: 6px;
    width: 100%;
    background: linear-gradient(90deg, #242424 0%, #464646 100%);
    border-radius: 0px 0px 14px 14px;
    margin-top: -20px;
}

.survey_info_card {
    color: var(--c_white);
    display: flex;
    align-items: center;
    padding: 20px 14px;
    background-color: var(--bg_secondary);
    box-shadow: 0px 4px 20px rgba(36, 36, 36, 0.1);
    border-radius: 10px;
    background-image: url("../img/home/bg_grid.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
}

/*  Buy Voucher section */

.see_all {
    border-bottom: 3px solid var(--c_primary);
    -webkit-box-shadow: 0px 2px 0px 0px var(--c_secondary);
    box-shadow: 0px 2px 0px 0px var(--c_secondary);
    text-decoration: none;
}

.fitler_btns {
    margin-bottom: 16px;
}

.filter_btn {
    font-size: 12px;
    padding: 3px 6px;
    background: var(--bg_white);
    border: 1px solid var(--c_black);
    box-shadow: 1px 1px 0px var(--c_black);
    border-radius: 6px;
    margin-right: 4px;
}

.filter_btn.active {
    color: var(--c_white);
    background: var(--bg_secondary);
    border: 1px solid var(--bs-black);
    box-shadow: 1px 1px 0px var(--bs-black), inset 0px -3px 0px var(--bg_primary);
}

.voucher_item {
    display: flex;
    border-radius: 12px;
    overflow: hidden;
    text-decoration: none;
    color: var(--c_secondary);
    filter: drop-shadow(0px 4px 8px rgba(36, 36, 36, 0.1));
}

.voucher_item:hover {
    color: var(--c_secondary);
}

.voucher_imgBox {
    width: 106px;
    position: relative;
}

.voucher_imgBox .text_outline {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    font-weight: 600;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 0.95;
}

.voucher_img {
    width: 106px;
    min-width: 106px;
    height: 100%;
    object-fit: cover;
}

.voucher_item .discount_badge {
    position: absolute;
    right: 0;
    top: 22%;
    width: 2em;
    height: 2em;
    font-size: 8px;
    text-shadow: none;
    background-image: url("../icons/star-badge.svg");
    background-repeat: none;
    background-size: contain;
    padding-top: 0.5em;
}

.voucher_content {
    flex-grow: 1;
    padding: 12px 2px;
    background-color: var(--bg_white);
    position: relative;
    margin-right: 14px;
}

.voucher_content::before,
.voucher_content::after {
    content: "";
    display: block;
    width: 1rem;
    height: 100%;
    position: absolute;
    top: 0px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.voucher_content::before {
    left: 1px;
    transform: translateX(-100%);
    background-image: url("../img/home/voucher_left.svg");
}

.voucher_content::after {
    right: 1px;
    transform: translateX(100%);
    background-image: url("../img/home/voucher_right.svg");
}

.border_bottom_dashed {
    border-bottom: 1px dashed #EAEAEA;
}

.opacity_1 {
    opacity: 1;
}

/* .............. end home page .............. */

/* .............. start voucher details page .............. */
.flash_sale_bg {
    background-image: url("../img/home/flash-sale-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.map_wrapper {
    position: relative;
}

.map_box {
    height: 100px;
    width: 100%;
}

.map_link {
    text-decoration: none;
    position: absolute;
    right: 0;
    bottom: 0;
    border: 1px solid #ECECEC;
    border-bottom: none;
    border-right: none;
    background-color: var(--bg_white);
    padding: 2px 8px;
    border-radius: 5px 0px 0px 0px;
}

.addCart_btn {
    font-size: var(--fs_20);
    padding: 0.2em 0.6em;
}

.addCart_btn.added_cart {
    background-color: var(--bg_secondary);
}

.add_cart.added_cart .icon_cart-plus-fill,
.add_cart .icon_cart-plus {
    display: none;
}

.add_cart.added_cart .icon_cart-plus {
    display: inline-block;
}

.top_toast_container {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
}

.bottom_toast_container {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
}

.toast_dark {
    color: var(--c_white);
    border-radius: 50rem;
    max-width: 100%;
    width: max-content;
    padding: 8px 20px;
    background: var(--bg_secondary);
    margin: auto;
}

.toast {
    transition: 0.3s;
    transform: translateY(0px);
}

.top_toast_container .toast {
    transform: translateY(20px);
}

.bottom_toast_container .toast {
    transform: translateY(-70px);
}

.share_opts {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}


.share_opt {
    font-size: 10px;
    text-decoration: none;
    color: var(--c_secondary);
    cursor: pointer;
    display: block;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border: none;
    background: transparent;
}

.share_opt:active {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

.share_opt i {
    font-size: 3.2em;
    margin-bottom: 0.2em;
}

.icon_d {
    color: var(--c_primary);
    text-shadow: 1px 1px 0px black, 1px -1px 0px black, -1px -1px 0px black, -1px 1px 0px black, 0.5px 0.5px 0px black, 0.5px -0.5px 0px black, -0.5px -0.5px 0px black, -0.5px 0.5px 0px black;
    filter: drop-shadow(1px 1px 0px black);
}

.err_msg {
    color: var(--c_danger);
    font-weight: 600;
    margin-bottom: 0.3em;
    display: none;
}

.soldout__main i,
.soldout__main .voucher_actRow .btn {
    filter: grayscale(1);
}

.soldout__main #shareModal i,
.soldout__main .err_msg i {
    filter: grayscale(0);
}

/* .............. end voucher details page .............. */

/* .............. start voucher checkout page .............. */
.paymentMethod_btn {
    padding-left: 3rem;
    background-image: var(--bs-form-select-bg-img), url("../icons/CreditCard.png");
    background-position: right .75rem center, left 0.5rem center;
    background-size: 16px 12px, 1.5rem;
}

.payment_methodInp {
    text-align: start;
    color: var(--c_secondary);
}

.payment_method {
    display: block;
    padding: 0.5rem 0.8rem;
    border-radius: 0.3rem;
    cursor: pointer;
}

.payment_method:hover {
    background-color: var(--bg_light2);
}

.payment_methodBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.payment_methodIcon {
    width: 46px;
    min-width: 46px;
    height: 18px;
    -o-object-fit: contain;
    object-fit: contain;
    margin-right: 12px;
}

.payment_methodInp .payment_methodIcon {
    width: 18px;
    min-width: 18px;
    height: 18px;
    margin-right: 4px;
}

.payment_methodInp p {
    line-height: 1.4;
}

.payment_methodInp span {
    display: none;
}

span.error:not(input) {
    padding-top: 3px;
    font-size: 12px;
    line-height: 1.4;
    color: var(--c_danger);
}

.num_inpGrp {
    display: flex;
}

.num_inp {
    border: none;
    outline: none;
    width: 3rem;
    text-align: center;
}

.num_inp::-webkit-outer-spin-button,
.num_inp::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.num_inp[type=number] {
    -moz-appearance: textfield;
}

.num_inpGrp .btn {
    padding: 0.4em 0.8em;
}

/* .............. end voucher checkout page .............. */

/* .............. start event details page .............. */
.calendar_badge {
    border-radius: 10px;
    border: 1px solid #EDEDED;
    padding: 8px;
    display: flex;
    height: 36px;
    align-items: center;
    gap: 4px;
}

.instagram_logo {
    border: 1px solid var(--c_secondary);
    border-radius: 10px;
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact_button {
    background-color: var(--bg_primary);
    border-radius: 10px;
    height: 36px;
    gap: 6px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ticket_item{
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 10px;
    justify-content: space-between;
    gap: 8px;
    border: 1px solid #EDEDED;
}
.icon_box{
    width: 34px;
    height: 34px;
    border-radius: 4px;
    display: grid;
    place-items: center;
    background-color: var(--bg_light3);
}
.modal__bottom .modal-body {
    overflow-y: auto;
    overflow-x: hidden;
}

.modal__bottom .flatpickr-calendar.open,
.modal__bottom .flatpickr-calendar.inline {
    border-radius: 0px;
    width: 100%;
    max-height: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.modal__bottom .flatpickr-rContainer,
.modal__bottom .flatpickr-days {
    width: 100%;
}

.modal__bottom .dayContainer {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

.modal__bottom .flatpickr-day {
    max-width: 14.2857143%;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
    background: var(--bg_primary);
    border-color: var(--bg_primary);
}

.datePicker_btn {
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    background-image: url("../icons/calendar.svg"),url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: left 0.5em center,right 0.7em center;
    background-size: 1.3em,0.8em;
    padding-left: 2.3em;
    padding-right: 2.3em;
    
}
.ticket_list .ticket-actions,
.ticket_list .ticket-input-group,
.ticket-actions.show_input .add_btn{
    display: none;
}
.show_options .ticket_list .ticket-actions,
.ticket-actions.show_input .ticket-input-group{
    display: initial;
}

.ticket-actions .input-group .form-control{
    border: none;
    font-size: 12px;
    padding: 0.4em 1.1em;
    width: 4em;
    text-align: center;
    pointer-events: none;
}

/* .............. end event details page .............. */

/* .............. start profile page .............. */

/* .............. end profile page .............. */